input:not([type=radio]) {
    border: 1px solid gray;

    padding: 4px;
    background: #fff;
    transition: 250ms box-shadow, 250ms transform;
}
    

input[type=radio] {
    appearance: none;
}

input[type=radio]::before {
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    outline: 1px solid black;
    border: 0.25em solid white;
    background-color: white;
    vertical-align: middle;
    transition: 250ms box-shadow, 250ms transform;
}
    input[type=radio]:hover::before {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        transform: scale(1.05);
    }
    input[type=radio]:checked:before {
        background: linear-gradient(#888, #222);
    }


/* interactivity */
input:not([type=radio],[type=file]):hover,
input:not([type=radio],[type=button],[type=file]):focus {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
}


input[type=radio]:active::before,
input[type=button]:active {
    transform: scale(0.9);
    transform: 100ms transform;
}

/* buttons */
input[type=button] {
    padding: 8px 16px;
}

/* file input */
input[type=file] {
    appearance: none;
}