/* markboxes */
.fullrow {
    margin-left: calc(var(--main-padding) * -1);
    margin-right: calc(var(--main-padding) * -1);
}

.sample:not(.fullscreen) {
    margin-left: calc(var(--main-padding) * -1);
    margin-right: calc(var(--main-padding) * -1);

    padding: 4px;
}

main .warning,
main .info,
main .alert, 
main .success, 
main .mark {
    margin-left: calc(var(--main-padding) * -1);
    margin-right: calc(var(--main-padding) * -1);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);

    padding-top: 8px;
    padding-bottom: 8px;
}


/* headers */
h1 {
    font-size: 54px;
    font-weight: 100;
    margin: 0.5 0 0.25em 0;
    line-height: 1.2;
}
h2 {
    font-size: 36px;
    font-weight: 200;
    margin: 1em 0 0.5em 0;
}
h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 1.5em 0 0.75em 0;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 2.00em 0 1.00em 0;
}
h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 2.50em 0 1.25em 0;
}
h6 {
    font-size: 16px;
    font-weight: 800;
    margin: 3em 0 1.5em 0;
}