html {
    /* --weak-accent-color: #8af;
    --accent-color: #68f;
    --strong-accent-color: #349; */

    --weaker-accent-color: #bfa;
    --weak-accent-color: #8e7;
    --accent-color: #3d2;
    --strong-accent-color: #190;
    --stronger-accent-color: #060;

    --weaker-secondary-color: #ffe5bb;
    --weak-secondary-color: #fc9;
    --secondary-color: #f93;
    --strong-secondary-color: #d71;
    --stronger-secondary-color: #a51;

    --text-color: black;

    --border-color: #666;
    --button-background: #eee;
    --border-width: 2px;
    --border-radius: 4px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}