input[type=checkbox].switch {
    appearance: none;
    font-size: medium;
    margin: 0px 4px 2px 0px;
    vertical-align: middle;
    cursor: pointer;
}

.switch {
    --border-width: 2px;
    width: 1.75em;
    height: 1em;
    border: var(--border-width) gray solid;
    border-radius: 0.5em;
    position: relative;
    background-color: lightgray;
    transition: background-color 200ms, border-color 200ms;
    box-sizing: border-box;
    cursor: pointer;
}
    .switch.checked, .switch:checked {
        background-color: lightgreen;
        border-color: green;
    }

.switch::before {
    content: ' ';
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    position: absolute;
    right: calc(0.25em - var(--border-width));
    top: calc(0.25em - var(--border-width));
    background-color: white;
    border: var(--border-width) solid gray;
    pointer-events: none;
    user-select: all;
    box-sizing: border-box;
    transition: background-color 200ms, border-color 200ms, left 200ms, right 200ms;
}
    .switch.checked::before, .switch:checked::before {
        right: calc(1em - var(--border-width));
        background-color: lime;
        border-color: green;
    }