table {
    --table-border: 2px solid #777;
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    outline-offset: -1px;
    outline: var(--table-border);
    box-sizing: border-box;
}

table.seamless {
    outline: none;
}

table.seamless>tbody>tr{
    background-color: transparent;
}

tbody>tr {
    background-color: var(--table-background-odd, white);
}

tbody>tr:nth-child(even) {
    background-color: var(--table-background-even, #eee);
}

thead>tr, tfoot>tr {
    background-color: var(--table-background-heading-odd, #ddd);
}

thead>tr:nth-child(even), tfoot>tr:nth-child(even) {
    background-color: var(--table-background-heading-even, #eee);
}

td, th {
    padding: 4px 8px;
    outline: var(--table-border);
    outline-offset: -1px;
}
table.seamless td, table.seamless th {
    outline: none;
}

thead {
    position: sticky;
    /* display: inline-table; */
    top: 0px;
    background: var(--table-background-heading-odd, #ddd);
    box-sizing: border-box;
    z-index: 2;
}

tfoot {
    position: sticky;
    bottom: 0px;
    background: var(--table-background-heading-odd, #ddd);
    z-index: 1;
}
