/* WAIT-RING */
@keyframes spinning {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.wait-ring {
    position: relative;
    transition: scale, display allow-discrete;
    transition-duration: 0.5s;
    scale: 1;
    transform-origin: center;
    transition-timing-function: cubic-bezier(0.5, 2, 0.65, 0.8);
    background-image: radial-gradient(circle closest-side  at 50% 52%, transparent 0, transparent 55%, rgba(127,127,127,0.5) 65%,rgba(127,127,127,0.5) 85%, transparent 95%);
    width: 100px;
    height: 100px;
    cursor: wait;
    resize: both;

    @starting-style {
        scale: 0;
    }

}

.wait-ring.hidden {
    display: none;
    scale: 0;
}

.wait-ring::before {
    display: block;
    content: ' ';
    position: absolute;
    left: 8%;
    top: 8%;
    right: 8%;
    bottom: 8%;

    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background: conic-gradient(rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0.5) 10%, rgba(from var(--accent-color, cornflowerblue) r g b / 1) 100%);
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: radial-gradient(circle at center, transparent 0, transparent 50%, #000 50%);


    filter: blur(4px);
    animation: spinning 2s linear infinite;
    backdrop-filter: brightness(1);
}