.token.mediaQuery { color: orangered;}
.token.mediaQueryInner { color: maroon;}
.token.declarationStart { color: maroon;}
.token.declarationEnd { color: maroon;}
.token.selector { color: darkcyan;}
.token.propertyValueSeparator { color: darkgoldenrod;}
.token.propertiesSeparator { color: darkgoldenrod;}
.token.property { color: darkblue;}
.token.value { color: blue;}
.token.comment { color: green;}
.token.commentEnd { color: green;}
