.tagStart { color: maroon;}
.tagName { color: blue;}
.tagAttrName { color: darkblue;}
.tagAttrEqSign { color: goldenrod;}
.tagAttrValue { color: slateblue;}
.tagEnd { color: maroon;}
.closingTagStart { color: maroon;}
.closingTagName { color: blue;}
.closingTagEnd { color: maroon;}
.quotedValue { color: slateblue;}
.quotedAttrValueStart { color: goldenrod;}
.quotedAttrValueEnd { color: goldenrod;}
.singlyQuotedValueStart { color: goldenrod;}
.singlyQuotedValueContent { color: slateblue;}
.doublyQuotedValueContent { color: slateblue;}
.htmlCommentStart { color: green;}
.htmlCommentContent { color: green;}
.htmlCommentEnd { color: green;}
.specialCharStart { color: violet;}
.specialCharContent { color: violet;}
.specialCharEnd { color: violet;}
.specialChar { color: violet;}
.cssStyle { color: darkcyan;}
.styleAttrPropertyName { color: darkcyan;}
.styleAttrPropertySeparator { color: goldenrod;}
.styleAttrPropertyValue { color: darkslateblue;}
.styleAttrPropertyEnd { color: goldenrod;}