.token.tagStart { color: maroon;}
.token.tagName { color: blue;}
.token.tagAttrName { color: darkblue;}
.token.tagAttrEqSign { color: goldenrod;}
.token.tagAttrValue { color: slateblue;}
.token.tagEnd { color: maroon;}
.token.closingTagStart { color: maroon;}
.token.closingTagName { color: blue;}
.token.closingTagEnd { color: maroon;}
.token.quotedValue { color: slateblue;}
.token.quotedAttrValueStart { color: goldenrod;}
.token.quotedAttrValueEnd { color: goldenrod;}
.token.singlyQuotedValueStart { color: goldenrod;}
.token.singlyQuotedValueContent { color: slateblue;}
.token.doublyQuotedValueContent { color: slateblue;}
.token.htmlCommentStart { color: green;}
.token.htmlCommentContent { color: green;}
.token.htmlCommentEnd { color: green;}
.token.specialCharStart { color: violet;}
.token.specialCharContent { color: violet;}
.token.specialCharEnd { color: violet;}
.token.specialChar { color: violet;}
.token.cssStyle { color: darkcyan;}
.token.styleAttrPropertyName { color: slateblue;}
.token.styleAttrPropertySeparator { color: goldenrod;}
.token.styleAttrPropertyValue { color: darkslateblue;}
.token.styleAttrPropertyEnd { color: goldenrod;}