.token.keyword { color: black; font-weight: 600;}
.token.controlSymbols { color: darkblue; font-weight: 600;}
.token.literalStart  { color: brown; }
.token.literal { color: maroon; }
.token.literalSpecialchar { color: violet; }
.token.literalEnd { color: brown; }
.token.lineComment, .token.commentStart, .token.commentEnd, .token.comment { color: green; }
.token.highlight { color: lime !important }
