.codebox {

    font-family: monospace;
    counter-reset: lines-counter;
    --counter-width: 1.5em;
}

    .codebox>div:first-child {
        padding-top: 10px;
    }
    .codebox>div:last-child {
        padding-top: 10px;
    }

    .codebox>div {
        counter-increment: lines-counter;

        display: flex;
        flex-direction: row;
    }

        .codebox>div:hover {
            background-color: #eee;
        }
    
    .codebox>div::before {
        content: counter(lines-counter);

        border-right: 2px solid #333;
        background-color: #ccc;
        flex-shrink: 0;
        width: val(--counter-width);
        white-space: nowrap;
    }

