:root {
    color-scheme: light;

    --weaker-accent-color: #bfa;
    --weak-accent-color: #8e7;
    --accent-color: #3d2;
    --strong-accent-color: #190;
    --stronger-accent-color: #060;

    --weaker-secondary-color: #ffe5bb;
    --weak-secondary-color: #fc9;
    --secondary-color: #f93;
    --strong-secondary-color: #d71;
    --stronger-secondary-color: #a51;

    --text-color: black;
    --page-color: white;

    --background-color: #f8f8f8;
    --shadow-color: rgba(0,0,0,0.5);
    --emphasized-background: #ddd;

    --border-color: #666;
    --button-background: #eee;
    --control-background: #f8f8f8;
    --border-width: 2px;
    --border-radius: 4px;

    --table-border: 2px solid #777;
    --table-background-odd: #fff;
    --table-background-even: #eee;
    --table-background-heading-odd: #ddd;
    --table-background-heading-even: #eee;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.warning {
    background-color: #ffaf92;
}

.alert {
    background-color: #ffff65;
}

.success {
    background-color: #aaffaa;
}

.info {
    background-color: #dff6fe;
}

.mark {
    background-color: var(--emphasized-background, #ddd);
}