

:focus-visible {
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: invert;
    outline-style: dashed;
}

/* BUTTONS */

.button, button, input[type=button], input[type=submit], input[type=reset], ::file-selector-button {
    display: inline-block;
    background-color: var(--button-background, #eee);
    border: var(--border-width, 1px) solid var(--border-color, #666);
    border-radius: var(--border-radius);
    padding: 0.25em 0.5em;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color, black);
    min-height: 2em;
}

    .button:hover, button:hover, 
    input[type=button]:hover, 
    input[type=submit]:hover, 
    input[type=reset]:hover, 
    ::file-selector-button:hover,
    input[type=radio]:enabled:hover,input[type=checkbox]:enabled:hover {
        filter: brightness(1.1);
    }

    .button:active, 
    button:active, 
    input[type=button]:active, 
    input[type=submit]:active, 
    input[type=reset]:active, 
    ::file-selector-button:active,
    input[type=radio]:enabled:active,input[type=checkbox]:enabled:active {
        filter: brightness(0.9);
    }

    .button:disabled, 
    button:disabled, 
    input[type=button]:disabled, 
    input[type=submit]:disabled, 
    input[type=reset]:disabled, 
    input:disabled, 
    textarea:disabled,
    select:disabled,
    :disabled::file-selector-button {
        filter: saturate(0.5) brightness(1.5) contrast(0.7);
        cursor: inherit;
    }

    

    .button:state(checked) {
        border: var(--border-width, 2px) solid var(--strong-accent-color, green);
        background-color: var(--weak-accent-color, #afa);
    }

button:empty:not([value]){
    vertical-align: bottom;
}

/* arranges buttons in a single toolbar */
.toolbar, .horizontal-toolbar {
    display: inline-flex;
    justify-content: start;
    align-items: stretch;
    vertical-align: middle;
    gap: 0;
}

    :is(.toolbar, .horizontal-toolbar)>:is(ox-button):not(:first-child) {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    :is(.toolbar, .horizontal-toolbar)>:is(ox-button):not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.vertical-toolbar {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    vertical-align: middle;
    gap: 0;
}

    .vertical-toolbar>:is(ox-button):not(:first-child) {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .vertical-toolbar>:is(ox-button):not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

/* INPUTS */

input {
    accent-color: var(--accent-color, inherit);
}

input:indeterminate {
    accent-color: gray;
}

input:is(:not([type]),[type=text],[type=number],[type=password],[type=date],[type=datetime],[type=datetime-local],[type=month],[type=week],[type=tel],[type=time],[type=url],[type=email],[type=search]) , 
textarea,
select {
    border: var(--border-width, 1px) solid var(--border-color, #666);
    border-radius: var(--border-radius);
    padding: 0.25em 0.5em;
    min-width: 8em;
    field-sizing: content;
}

input:is(:not([type]),[type=text],[type=number],[type=password],[type=date],[type=datetime],[type=datetime-local],[type=month],[type=week],[type=tel],[type=time],[type=url],[type=email],[type=search]):focus, 
textarea:focus, 
select:focus {
    border-color: var(--accent-color, cornflowerblue);
    box-shadow: 0 0 10px rgba(127,127,127,0.5);
    outline: none;
}

:where(input[type=radio], input[type=checkbox]) {
    width: 1.5em;
    height: 1.5em;
    margin: 0.2em;
    vertical-align: text-bottom;
    transform: translateY(0.25em);
    background-color: white;
}

:where(input[type=radio]) {
    appearance: none;
    border-radius: 100%;
    border: 2px solid var(--border-color, #666);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}

:where(input[type=radio])::before {
    content: '';
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    background-color: var(--accent-color);
    border-radius: 100%;
    border: none;
    transform: scale(0);
    transition: cubic-bezier(0.5, 2, 0.65, 0.8) transform 200ms;
}

:where(input[type=checkbox]) {
    appearance: none;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color, #666);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}


:where(input[type=checkbox])::before {
    font-size: 0.75em;
    padding: 0;
    text-align: center;
    content: '✓';
    display: block;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    background-color: var(--accent-color);
    border-radius: 1px;
    border: none;
    transform: scale(0);
    transition: cubic-bezier(0.5, 2, 0.65, 0.8) transform 200ms;
}

:where(input[type=checkbox]:checked,input[type=radio]:checked)::before {
    transform: scale(1);
}

:where(input[type=checkbox]:indeterminate)::before {
    content: '?';
    transform: scale(1);
    color: white;
    background-color: gray;
}

:where(input[type=radio]:disabled::before, input[type=checkbox]:disabled::before) {
    background-color: #666;
    color: white;
}

/* FIELDSET */

fieldset {
    border-radius: var(--border-radius);
    border: none;;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(127,127,127,0.4);
}

/* SELECT */

select {
    appearance: base-select;
}

::picker(select) {
    appearance: base-select;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    padding: 0;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color, #666);
}
select option {
    padding: 0.25em 0.5em;
}

select option:checked {
    background-color: var(--weaker-accent-color, cornflowerblue);
    color: black;
}
select[multiple] {
    padding: 0.25em 0;
    field-sizing: content;
    overflow: auto;
}

select[multiple][size] {
    field-sizing: fixed;
}

select[multiple] option {
    padding: 0.25em 0.5em;
}

select[multiple] optgroup {
    padding: 0.25em 0;
}

/* DETAILS */

details {
    border: var(--border-width, 1px) solid var(--border-color, #666);
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    background-color: var(--control-background, #eee);
    box-sizing: border-box;
    transition: height 100ms ease-in-out;
}

summary::marker {
    content: '❯ ';
}

summary {
    cursor: pointer;
    font-weight: 500;
}

details:open>summary {
    margin-bottom: 0.5em;
}


/* SEAMLESS */

ox-button.seamless {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
ox-button.seamless:state(checked) {
    background-color: var(--weak-accent-color, lightblue);
}

ox-button.seamless:hover,
ox-button.seamless:active {
    background-color: var(--weaker-accent-color, lightblue);
}

select[multiple].seamless {
    border: none;
    padding: 0;
    border-radius: 0;
}

/* PROGRESS BAR */

/* progress {
    box-sizing: border-box;
    background-color: rgba(from #aaa r g b / 0.5);
    accent-color: green;
    color: blueviolet;
    height: 20px;
    border: 2px solid #666;
    padding: 1px;
    border-radius: 4px;
    backdrop-filter: blur(2px);
}

progress::-moz-progress-bar {
    background-color: var(--accent-color, cornflowerblue);
    filter: blur(2px);
}

::-webkit-progress-bar {
    background-color: rgba(from #aaa r g b / 0.5);
}

::-webkit-progress-inner-element {
    background-color: none;
}

::-webkit-progress-value {
    background-color: var(--accent-color, cornflowerblue);
    filter: blur(2px);
}

@keyframes progressbar-indeterminate {
    0% {opacity: 1;}
    100% {opacity: 0;}
}



progress:indeterminate::-webkit-progress-bar {
    background: var(--accent-color, cornflowerblue);
     animation: 1s progressbar-indeterminate linear infinite alternate;
}

progress:indeterminate::-moz-progress-bar  {
    background: linear-gradient(to right, var(--accent-color, cornflowerblue) 0%, rgba(from var(--accent-color, cornflowerblue) r g b / 0.2) 50%, var(--accent-color, cornflowerblue) 100%);
    background-size: 100%;
    background-position: 50% 0% !important;
    animation: 1s progressbar-indeterminate linear infinite alternate;
} */