html {
    /* --weak-accent-color: #8af;
    --accent-color: #68f;
    --strong-accent-color: #349; */
    --weak-accent-color: #afa;
    --accent-color: #3f3;
    --strong-accent-color: green;
    --text-color: black;

    --border-color: #666;
    --button-background: #eee;
    --border-width: 2px;
    --border-radius: 4px;
}

:focus-visible {
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: invert;
    outline-style: dashed;
}

/* BUTTONS */

.button, button, input[type=button], input[type=submit], input[type=reset], ::file-selector-button {
    display: inline-block;
    background-color: var(--button-background);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.25em 0.5em;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color, black);
}

    .button:hover, button:hover, 
    input[type=button]:hover, 
    input[type=submit]:hover, 
    input[type=reset]:hover, 
    ::file-selector-button:hover {
        filter: brightness(1.1);
    }

    .button:active, 
    button:active, 
    input[type=button]:active, 
    input[type=submit]:active, 
    input[type=reset]:active, 
    ::file-selector-button:active {
        filter: brightness(0.9);
    }

    .button[disabled], button[disabled], input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] {
        filter: saturate(0.5) brightness(1.5) contrast(0.7);
        cursor: inherit;
    }

    .button:state(checked) {
        border: var(--border-width, 2px) solid var(--strong-accent-color, green);
        background-color: var(--weak-accent-color, #afa);
    }

/* arranges buttons in a single toolbar */
.toolbar, .horizontal-toolbar {
    display: inline-flex;
    justify-content: start;
    align-items: stretch;
    vertical-align: middle;
    gap: 0;
}

    :is(.toolbar, .horizontal-toolbar)>:is(ox-button):not(:first-child) {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    :is(.toolbar, .horizontal-toolbar)>:is(ox-button):not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.vertical-toolbar {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    vertical-align: middle;
    gap: 0;
}

    .vertical-toolbar>:is(ox-button):not(:first-child) {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .vertical-toolbar>:is(ox-button):not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

/* INPUTS */

input {
    accent-color: var(--accent-color, inherit);
}

input:indeterminate {
    accent-color: gray;
}

input[type=checkbox], input[type=radio] {
    width: 1.5em;
    height: 1.5em;
    margin: 0.2em;
    vertical-align: text-bottom;
    transform: translateY(0.25em);
}

input:is(:not([type]),[type=text],[type=number],[type=password],[type=date],[type=datetime],[type=datetime-local],[type=month],[type=week],[type=tel],[type=time],[type=url],[type=email]), 
textarea,
select {
    border: 2px solid var(--border-color, #666);
    border-radius: var(--border-radius);
    padding: 0.25em 0.5em;
}

input:is(:not([type]),[type=text],[type=number],[type=password],[type=date],[type=datetime],[type=datetime-local],[type=month],[type=week],[type=tel],[type=time],[type=url],[type=email]):focus, 
textarea:focus, 
select:focus {
    border-color: var(--accent-color, cornflowerblue);
    box-shadow: 0 0 10px rgba(127,127,127,0.5);
    outline: none;
}   

select {
    appearance:auto;
}

fieldset {
    border-radius: var(--border-radius);
    border: none;;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(127,127,127,0.4);
}

/* SEAMLESS */

ox-button.seamless {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
ox-button.seamless:state(checked) {
    background-color: var(--weak-accent-color, lightblue);
}

ox-button.seamless:hover,
ox-button.seamless:active {
    background-color: var(--weaker-accent-color, lightblue);
}

/* PROGRESS BAR */

/* progress {
    box-sizing: border-box;
    background-color: rgba(from #aaa r g b / 0.5);
    accent-color: green;
    color: blueviolet;
    height: 20px;
    border: 2px solid #666;
    padding: 1px;
    border-radius: 4px;
    backdrop-filter: blur(2px);
}

progress::-moz-progress-bar {
    background-color: var(--accent-color, cornflowerblue);
    filter: blur(2px);
}

::-webkit-progress-bar {
    background-color: rgba(from #aaa r g b / 0.5);
}

::-webkit-progress-inner-element {
    background-color: none;
}

::-webkit-progress-value {
    background-color: var(--accent-color, cornflowerblue);
    filter: blur(2px);
}

@keyframes progressbar-indeterminate {
    0% {opacity: 1;}
    100% {opacity: 0;}
}



progress:indeterminate::-webkit-progress-bar {
    background: var(--accent-color, cornflowerblue);
     animation: 1s progressbar-indeterminate linear infinite alternate;
}

progress:indeterminate::-moz-progress-bar  {
    background: linear-gradient(to right, var(--accent-color, cornflowerblue) 0%, rgba(from var(--accent-color, cornflowerblue) r g b / 0.2) 50%, var(--accent-color, cornflowerblue) 100%);
    background-size: 100%;
    background-position: 50% 0% !important;
    animation: 1s progressbar-indeterminate linear infinite alternate;
} */